{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'agendamiento/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'agendamiento/logo.svg' %}" type="image/x-icon" />
    <title>Agendamiento - Teayudamos</title>
</head>

<body>
    <main>
        <form action="" class="form-agendamiento" action="/agendamiento/" method="POST">
            {% csrf_token %}
            <div class="form-left">
                <label class="form-label" for="profesional">1. Selecciona al profesional</label>
                <select class="form-select-profesional" name="profesional" id="profesional">
                    {% for profesional in profesionales %}
                     <option value="{{profesional.id}}">Dr. {{profesional.nombre}} {{profesional.apellidos}}</option>
                    {% endfor %}
                </select>

                <label for="calendario" class="form-label">2. Selecciona fecha</label>
                <input type="date" name="fecha" id="fecha" min="">

                <label for="hora" class="form-label">3. Selecciona la hora</label>
                <input type="time" step="3600" name="appt-time" min="09:00" max="17:00" value="09:00"/>
            </div>
            <div class="form-right">
                <label for="comentario" class="form-label">4. Añade un comentario</label>
                 <textarea name="comentario" id="" cols="50" rows="5"></textarea>
                <input class="button button-primary" type="submit" value="Previsualizar">
            </div>
        </form>
    </main>
</body>
<script>
    fecha.min = new Date().toISOString().split("T")[0];
</script>

</html> 